
.navSpace{
    padding: 10vh; 
    font-size: 4vh;
    transition: 0.3s; 
    padding: 7rem; 
    /* position: fixed; */
  }

#navBox {
    background-color: rgba(0, 0, 255, 0.459);
    color: black;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
  }
