:root{
  ::-webkit-scrollbar {
    width: 0;
  }
}

body{
  background-color: rgb(25, 25, 25);
}

.container{
  /* background-color: cadetblue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem .5rem;
}

.mana{
  /* background-color: black; */
  padding: .3rem;
  display: grid;
  grid-template-columns: 3.75rem .75rem 3rem 16.25rem;
  grid-template-rows: 10rem;
  grid-template-areas: 
    "image imageM imageE info";
  transition: 1.2s;
}

.manaInfo.hidden {
  width: .75rem;
  grid-column: 2 / 3;
  opacity: .1;
  transition: 1.2s;
}

.mana:has(.manaInfo.hidden){
  transition: 1.2s;
  grid-template-columns: 3.75rem .75rem 3rem 0rem;
}

.manaInfo.hidden p{
  color: transparent;
  transition: .19s;
}

.manaInfo{
  grid-column: 2 / 5;
  grid-row: 1;
  /* background-color: rgba(120, 176, 255, 0.5); */
  height: 100%;
  width: 20rem;
  border-radius: .5rem;
  overflow: hidden;
  color: white;
  transition: 1.2s;
}

.infoText{
  position: relative;
  height: 100%;
  top: -1rem;
  padding-left: 4.5rem;
  /* background-color: aquamarine; */
}

.infoText p{
  transition: .2s;
  transition-delay: .8s;
  font-family: Dosis;
  margin: 0;
  z-index: 0;
}

.infoTitle{
  font-family: Rubik;
  font-weight: 500;

  padding-top: .5rem;
  width: 100%;
  height: 3.585rem;
  font-size: 1.5rem;
  align-content: center;
  /* background-color: blueviolet; */
}

.One{
  /* background-color: rgb(17, 28, 150); */
  height: 2.085rem;
}

.Two{
  /* background-color: rgba(157, 247, 255, 0.5); */
  /* padding-left: .2rem; */
  font-size: 1.3rem;
  height: 1.5rem;
  margin-top: 0;
}

.infoAbout{
  /* background-color: blueviolet; */
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.infoGenre{
  font-weight: 300;
  font-size: 1.2rem;
  padding-top: .1rem;
  padding-left: .5rem;
  color: rgb(123, 189, 255);
  font-weight: 200;
}

.infoCountry{
  font-weight: 300;
  font-size: 1.2rem;
  padding-top: .1rem;
  padding-left: .5rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
}

.infoFlag {
 height: 1.3rem;
 filter: invert(100%);
 opacity: .5;
}

.infoLenght{
  /* background-color: blueviolet; */
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.header{
  font-weight: 00;
  font-size: 1rem;
  padding-top: .5rem;
  padding-left: .5rem;
  padding-right: .25rem;
  color: rgba(255, 255, 255, 0.5);
  float: left;
}

.infoHeader{
  padding-top: .5rem;
  color: rgba(255, 255, 255, 0.75);
  float: left;
}

.imageScale{
  grid-column: 1 / 4;
  grid-row: 1;
  /* opacity: .5; */
  height: 100%;
  place-self: center;
  z-index: 0;
}

.imageScale img{
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  border-radius: .5rem;
  box-shadow: 0 0 .5rem .05rem;
}

.imageScale:hover img{
  box-shadow: 0 0 .5rem .05rem;
}





.manaTitle{
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 60%;
  margin-left: -35%;
  float: right;
  vertical-align: top;
  border-radius: .5rem;
}

.manaTitle p{
  /* background-color: rgba(250, 235, 215, 0.553); */
  color: white;
  font-family: Dosis;
  letter-spacing: .05rem;
  height: 100%;
  width: 42%;
  float: right;
  writing-mode:vertical-rl;
  rotate: 180deg;
  text-align: center;
  padding: 0;
  margin: 0;
}