body{
  background-color: rgb(25, 25, 25);
}

.mana{
  /* background-color: seagreen; */
  height: 10rem;

  padding: .3rem;
  float: left;
  margin-top: 1rem;
  margin-left: 1rem;
}

.manaInfo.hidden{
  width: 0;
  background-color: transparent;
}

.manaInfo.hidden p{
  color: transparent;
  transition: .19s;
}

.manaInfo{
  background-color: rgba(46, 142, 201, 0.5);
  height: 100%;
  width: 18.8rem;
  float: right;
  margin-left: -6rem;
  border-radius: .5rem;
  overflow: hidden;
  color: white;
  transition: 1s;
}

.infoText p{
  transition: .2s;
  transition-delay: .6s;
  font-family: Dosis;
  margin: 0;
}

.infoTitle{
  font-family: Rubik;
  margin-top: -.5rem;
  font-weight: 500;
  width: 100%;
  height: 3.585rem;
  font-size: 1.5rem;
  align-content: center;
  /* background-color: blueviolet; */
}

.One{
  /* background-color: rgb(17, 28, 150); */
  height: 2.085rem;
}

.Two{
  /* background-color: rgb(150, 32, 17); */
  /* padding-left: .2rem; */
  font-size: 1.3rem;
  height: 1.5rem;
  margin-top: 0;
}

.infoGenre{
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: .2rem;
  padding-left: .5rem;
  /* color: rgb(109, 151, 181); */
  color: rgb(108, 161, 199);
  font-weight: 200;
}

.header{
  font-weight: 00;
  font-size: 1rem;
  padding-top: .5rem;
  padding-left: .5rem;
  padding-right: .25rem;
  color: rgba(255, 255, 255, 0.5);
  float: left;
}

.infoHeader{
  padding-top: .5rem;
  color: rgba(255, 255, 255, 0.75);
}

.infoText{
  padding-left: 6.25rem
}

.imageScale{
  /* background-color: coral; */
  height: 100%;
  width: 7.5rem;
  float: left;
  text-align: center;
}

.imageScale img{
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  border-radius: .5rem;
  box-shadow: 0 0 .5rem .05rem;
}

.imageScale:hover img{
  box-shadow: 0 0 .5rem .05rem;
}





.manaTitle{
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 60%;
  margin-left: -35%;
  float: right;
  vertical-align: top;
  border-radius: .5rem;
}

.manaTitle p{
  /* background-color: rgba(250, 235, 215, 0.553); */
  color: white;
  font-family: Dosis;
  letter-spacing: .05rem;
  height: 100%;
  width: 42%;
  float: right;
  writing-mode:vertical-rl;
  rotate: 180deg;
  text-align: center;
  padding: 0;
  margin: 0;
}